 .state_draft_checkin{
    background:#2bf70c !important;
    }
 .state_draft_not_checkin{
    background:blue !important;
    }
 .state_cancel{
    background:#fca000 !important;
    }
 .state_paid{
    background:#146314 !important;
    opacity: .75 !important;
    }
 .state_done{
    background:#ff66cc  !important;
    }
 .state_invoiced{
    background:#0fdbf3  !important;
    }
.status_calendar {
  width: 30px;
  height: 30px;
  margin: 5px;
   opacity:.3;
  border: 1px solid rgba(0, 0, 0, .2);
}
.blue {
  background: #13b4ff;
}
.purple {
  background: #ab3fdd;
}
.wine {
  background: #ae163e;
}